*
!*/
!.gitignore
!*.py
.idea
!*.html
!*.css
!*.jpg
!Dockerfile
!Jenkinsfile
!app/requirements.txt
!*.conf
!compose.yml
!AWS-pipeline/buildspec.yml
!AWS-pipeline/appspec.yml
!scripts/start-process.sh
!scripts/before-install.sh
